<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://www.google.com/recaptcha/api.js?render=6Letal0qAAAAAPkIG60yTXY7VIRGTr74VKxFXTh9"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute("6Letal0qAAAAAPkIG60yTXY7VIRGTr74VKxFXTh9", {action: 'submit'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <div class="container">
            <h1 class="logo">MyPortfolio</h1>
            <ul class="nav-links">
                <li><a class="hover" href="#home">Home</a></li>
                <li><a class="hover" href="#about">About</a></li>
                <li><a class="hover" href="#portfolio">Portfolio</a></li>
                <li><a class="hover" href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Home Section -->
        <section id="home">
            <div class="overlay"></div>
            <div class="container">
                <h2>Welcome to My Portfolio</h2>
                <p>I am a Web Developer, Designer, and Creative Mind. Let’s work together to bring your ideas to life.</p>
                <a href="#portfolio" class="btn">See My Work</a>
            </div>
        </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <h2>About Me</h2>
            <p>Hello! I'm a passionate web developer with experience in building responsive and functional websites. I love to create clean and efficient designs while ensuring the best user experience. When I'm not coding, you can find me learning new technologies or exploring nature.</p>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
        <div class="container">
            <h2>My Work</h2>
            <div class="portfolio-items">
                <div class="portfolio-item">
                    <img src="{{ url_for('static', filename='images/IMG_2037.PNG') }}" alt="Project 1">
                    <div class="overlay">
                        <h3>RZG SECURITY DATABASE</h3>
                        <p>A database of school rule violators. Was created to simplify the registration of violators.</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <img src="{{ url_for('static', filename='images/IMG_2038.PNG') }}" alt="Project 2">
                    <div class="overlay">
                        <h3>NFC DOOR LOCK</h3>
                        <p>A project of door lock that can be opened by phone using NFC. Was made as a programming project at school.</p>
                        <a class="hover" href="https://github.com/misgraal/NFC-door-lock"><h4>Github repository</h4></a>
                    </div>
                </div>
                <div class="portfolio-item">
                    <img src="{{ url_for('static', filename='images/minesweaper.png') }}" alt="Project 3" id="minesweaper">
                    <div class="overlay">
                        <h3>MINESWEAPER</h3>
                        <p>A classic minesweaper game. Was made for educational purposes.</p>
                        <a class="hover" href="https://github.com/misgraal/minesweaper"><h4>Github repository</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2>Contact Me</h2>
            <form action="/submit_form", method="POST">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" required></textarea>

                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 MyPortfolio. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
